body {
    color: #ffffff;
    background: url("../img/quran.jpg") no-repeat center top fixed;
    background-size: cover;
    background-attachment: fixed; }
    body .dark-overlay {
      background-color: rgba(0, 16, 6, 0.81);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%; }
  
  #home-section .home-inner {
    padding-top: 150px; }
  
  #home-section .card-form {
    background-color: rgba(0, 216, 84, 0.80); }
  
  .navbar {
    border-bottom: rgb(0, 216, 84) 3px solid;
    opacity: 0.8; }
  
  @media (max-width: 576px) {
    nav .container {
      width: 100%; } }
  
  hr {
    background-color: #FFFFFF; }
  